
.container{
  width: 100vw;
  background-color: #850F8D;
  padding: 16px;
  text-align: center;
}
.header{
  background-color: #C738BD ;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  line-height: 100px;
}
.main{
  background-color: aqua;
  padding: 10px;
  overflow: hidden;
}
.main > div{
height: 200px;

}
.main>div:nth-child(1){
  width: 20%;
  background-color: #E49BFF ;
  float: left;
}

.main>div:nth-child(2){
  width: 80%;
background-color: #F8F9D7 ;
float: left;
}
.footer{
  width: 100%;
  height: 100px;
  background-color: blueviolet;
}