.header{
  width: 100vw;
  height: 80px;
  background-color: black;
  display: flex;
  color: aliceblue;
  /* justify-content= 블록의 주축으로 부터 정렬 */
  justify-content: space-around;
}
.header>div{
  border: 1px solid yellow;
}
ul{
  display: flex;
  list-style-type: none;
  width: 300px;
  justify-content: space-between;
}