.container{
  border: 1px solid black;
  width: 1200px;
  margin: auto;
}
table, tr, td{
  border: 1px solid black;
  /*  부모 요소 기준 */
  
}
table{
  border-collapse: collapse;
  width: 100%;
}
.dd{
  text-align: right;
}
