<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <!-- 검색하는 기능 -->
    <form action="/" method="post">
    <select name="searchKeyword">
      <option value="title" >제목</option>
      <option value="writer" >작성자</option>
    </select>
    <input type="text" name="searchValue">
    <input type="submit" value="검색">
  </form>
  </div>
  <thead>
    <table border="1">
      <tr>
        <td>글번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>작성일</td>
        <td>조회수</td>
      </tr>
  </thead>
    <tbody>
      <th:block th:if="${#lists.isEmpty(boardList)}">
        <tr>
          <td colspan="4">조회된 게시글이 없습니다</td>
        </tr>
      </th:block>
      <th:block th:unless="${#lists.isEmpty(boardList)}">
        <tr th:each="board : ${boardList}">
          <td>[[${board.boardNum}]]</td>
          <td>
            <a th:href="@{/detail(boardNum=${board.boardNum})}"> [[${board.title}]]</a>
          </td>
          <td>[[${board.writer}]]</td>
          <td>[[${board.createDate}]]</td>
          <td>[[${board.readCnt}]]</td>
        </tr>
      </th:block>
    </tbody>
  </table>
  <input type="button" value="글쓰기" onclick="gowrite()">
<script>
  function gowrite(){
    location.href='/write';
  }
</script>
</body>
</html>