<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="carMapper">
    <resultMap id="car" type="com.green.CarTest.vo.CarInfoVO">
        <id column="CAR_PK" property="carPk"/>
        <result column="CAR_NAME" property="carName"/>
        <result column="CAR_PRICE" property="carPrice"/>
        <result column="CAR_BRAND" property="band"/>
    </resultMap>

<!--    <resultMap id="car" type="com.green.CarTest.vo.SalesVO">-->
<!--        <id column="SALES_PK" property="salesPk"/>-->
<!--        <result column="BUYER_NAME" property="buyerName"/>-->
<!--        <result column="BUYER_TEL" property="buyerTel"/>-->
<!--        <result column="COLOR" property="color"/>-->
<!--        <result column="BUY_DATE" property="buyDate"/>-->
<!--        <collection property="sales" resultMap="sales"/>-->
<!--    </resultMap>-->

<!--    자동차 목록 조회-->
    <select id="getCarList" resultMap="car">
        SELECT CAR_PK
        , CAR_NAME
        , CAR_PRICE
        , CAR_BRAND
        FROM CAR_INFO
    </select>

<!--    자동차 등록 -->
    <insert id="insertCar">
        INSERT INTO CAR_INFO (
        CAR_PK
        , CAR_NAME
        , CAR_PRICE
        , CAR_BRAND
        ) VALUES (
        #{carPk}
        ,#{carName}
        ,#{carPrice}
        ,#{band}
        );
    </insert>

<!--    자동차 모델 조회-->
    <select id="getCar" resultMap="car">
        SELECT CAR_PK,
        CAR_NAME
        FROM CAR_INFO
        ORDER BY CAR_PK ASC
    </select>

</mapper>































