<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="salesMapper">
    <resultMap id="sales" type="com.green.CarTest.vo.SalesVO">
        <id column="SALES_PK" property="salesPk"/>
        <result column="BUYER_NAME" property="buyerName"/>
        <result column="BUYER_TEL" property="buyerTel"/>
        <result column="COLOR" property="color"/>
        <result column="BUY_DATE" property="buyDate"/>
        <collection property="carInfoVO" resultMap="carMapper.car"/>
    </resultMap>

    <!--    구매 고객 목록-->
    <insert id="insertBuyer">
        INSERT INTO SALES_INFO (
        CAR_PK
        , BUYER_NAME
        , COLOR
        , BUYER_TEL
        ) VALUES (
        #{carPk}
        ,#{buyerName}
        ,#{color}
        , #{buyerTel}
        );
    </insert>

<!--       구매자 목록 조회-->
<!--    <select id="getBuy" resultMap="sales">-->
<!--        SELECT SALES_PK-->
<!--        , CAR_PK-->
<!--        , CAR_NAME-->
<!--        , CAR_BRAND-->
<!--        , COLOR-->
<!--        WHERE CAR_PK = SALES_PK-->
<!--    </select>-->

</mapper>































