<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  [[${name}]] <br>
  [[${age}]]

<div th:text="${name}"></div>
<span th:text="${age}"></span>
<div th:text="${}"></div>

  <div style="width: 100%;">
    <div style="font-size: 4rem;width: 100%;">반갑습니다</div>
    <a href="/login"><input type="button" value="로그인 하러 가기" style="background-color: rgb(161, 161, 250); font-size: 2rem; border-radius: 12px; color: aliceblue; padding: 0px 30px;"></a>
  </div>
</body>
</html>