body{
  width: 100vw;
  height: 100vh;
}

.up{
  position: absolute;
  text-align: center;
  margin: 250px 350px;
}

.up>div:nth-child(1){
  font-size: 2rem;
  font-weight: 1.2rem;
  color: rgb(235, 100, 4);
}
.up>div:nth-child(2){
color: aliceblue;
font-size: 0.8rem;
}
.up>input{
  background-color: rgb(250, 140, 62);
  font-size: 1.1rem;
  color: aliceblue;
  border: none;
  margin-top: 10px;
}
.img1{
  
  width: 100%;
 height: 400px;
}

tr{
display: block;
}
img{
  display: flex;
  justify-content: center;
  background-position: center;
}
.text{
border: 1px solid black;
}