.App {
  text-align: center;
  background-image: url('ultra-realistic-desert-image-gobi-desert_747552-2981.jpg');
  border: 1px solid black;
  width: 100vW;
  height: 100vw;
  background-size: cover;

  @font-face {
    font-family: 'Ownglyph_jooreeletter-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_jooreeletter-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
}

.info {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.head{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 20px;
}

.div>span{
  width: 100%;
  border: 2px solid rgb(17, 8, 92);
  padding: 10px 50px;
  background-color: rgba(245, 246, 255, 0.6);
}

.div>span:hover{
  background-color: rgb(228, 237, 255);
  cursor: pointer;
}

.btn{
border-radius: 10%;
border: 2px solid rgb(25, 9, 114);
padding: 7px;
background-color: rgba(239, 244, 255, 0.8);
}

.btn:hover{
  background-color: rgb(214, 224, 255);
  padding: 8px;
  cursor: pointer;
}

/* info 의 테이블 꾸미기 */
.list-list{
  margin: 15px 0px;
}

.list{
  margin-top: 15px;
}
.list-tr{
  
  display: flex;
  justify-content: center;
}

.list-tr>td{
  background-color: rgba(236, 235, 255, 0.8);
border-bottom: 4px double rgb(50, 26, 153);
width: 200px;
}

.buy-top{
  margin: auto;
  text-align: center;

}
.buy-table{
  margin: auto;
}

.buy-table td:nth-child(2){
width: 40%;
text-align: left;
}

.buy-input{
  width: 100%;
}


/* 마지막 페이지 */
.last-table{
  border: 1px solid black;
}

.last-table td{
  border: 1px solid black;
}

