<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <td>글 번호</td>
      <td>[[${board.boardNum}]]</td>
      <td>작성자</td>
      <td>[[${board.writer}]]</td>
      <td>작성일</td>
      <td>[[${board.createDate}]]</td>
    </tr>
    <tr>
      <td>제목</td>
      <td>[[${board.title}]]</td>
    </tr>
    <tr>
      <td>내용</td>
      <td>[[${board.content}]]</td>
    </tr>
  </table>
<!--  현재 상세보기하고 있는 게시글을 삭제하고 게시글 목록 페이지로 이동 -->
  <form action="/board" method="get">
  <input type="submit" value="뒤로가기"></form>
<form action="/board" method="get">
  <input type="button" value="삭제하기" th:onclick="goDelete([[${board.boardNum}]])">
</form>
<!--  삭제하기 버튼 클릭시 실행 -->
<script>
  function goDelete(boardNum){
    //   confirm 을 하면 확인을 클릭하면 트루 리턴 취소를 클릭하면 펄스를 리턴
    const result= confirm('정말정말정말 삭제?');

    // 확인을 클릭했을때만 삭제를 진행한다.( 삭제를 위해 자바로 이동)
    if(result){
      // location.href='/delete?boardNum='+boardNum;
      location.href=`/delete?boardNum=${boardNum}`;
    }
  }
</script>
</body>
</html>