<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/reg" method="post">
  학번
  <input type="text" name="stuNum"> <br>
  이름
  <input type="text" name="name"> <br>
  국어점수
  <input type="text" name="koScore"> <br>
  영어점수
  <input type="text" name="enScore"> <br>
  학생소개
  <input type="text" name="intro"> <br>

    <input type="submit" value="등록 완료">
  </form>
</body>
</html>