<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stu_list.css">
</head>
<body>
    <table>
      <tr>
        <td>학번</td>
        <td>학생명</td>
        <td>국어점수</td>
        <td>영어점수</td>
        <td>총점</td>
      </tr>
      <!-- 등록된 학생이 없으면... -->
    <th:block th:if="${#lists.isEmpty(stuList)}">     
      <tr>
       <td colspan="5">등록된 학생이 없습니다.</td>
      </tr>
    </th:block>
      <!-- 등록된 학생이 있으면... -->
    <th:block th:unless="${#lists.isEmpty(stuList)}">
<!-- /* 등록된 학생수 만큼 반복해서 행을 생성*/ -->
      <th:block th:each="student:${stuList}">
        <tr>
          <td>[[${student.stuNum}]]</td>
          <td><a th:href="@{/detail(stuNum=${student.stuNum})}">[[${student.name}]]</a></td>
          <td>[[${student.koScore}]]</td>
          <td>[[${student.enScore}]]</td>
          <td>[[${student.koScore+student.enScore}]]</td>
        </tr>
      </th:block>
    </th:block>
    </table>
    <input type="button" value="학생등록" onclick="goRegForm()">
  <script>
    //  학생 등록 버튼 클릭시 글쓰기 페이지로 이동하는 함수
    function goRegForm(){
      location.href='/regForm';
    }
  </script>
</body>
</html>