<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stu_list.css">
</head>
<body>
  <table>
    <tr>
      <td>학번</td>
      <td>[[${student.stuNum}]]</td>
      <td>이름</td>
      <td>[[${student.name}]]</td>
    </tr>
    <tr>
      <td>국어점수</td>
      <td>[[${student.koScore}]]</td>
      <td>영어점수</td>
      <td>[[${student.enScore}]]</td>
    </tr>
    <tr>
      <td>자기소개</td>
      <td>[[${student.intro}]]</td>
    </tr>
  </table>

    <input type="button" value="뒤로가기" onclick="goback()">

  <input type="button" value="학생정보 수정" th:onclick="goUpdateForm([[${student.stuNum}]])">
  <input type="button" value="학생정보 삭제" th:onclick="goDelete([[${student.stuNum}]])">

  <!-- 뒤로가기  -->
  <script>
function goback(){
// history.back(-1);
location.href='/';
}
// 학생 삭제 시 실행
function  goDelete(stuNum){
const result =confirm('삭제 하시겠습니까?');
if( result){
  location.href=`/stuDelete?stuNum=${stuNum}`;
}
}
//  학생 정보를 수정할수있는 페이지로 이동!!!!!
function goUpdateForm(stuNum){
  location.href=`/updateForm?stuNum=${stuNum}`;
}
  </script>
</body>
</html>