<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/updateStu" method="post">
    <input type="hidden" name="stuNum" th:value="${student.name}">
    <input type="hidden" name="koScore" th:value="${student.koScore}">
    <input type="hidden" name="enScore" th:value="${student.enScore}">
  <table>
    <tr>
      <td>학번</td>
      <td>[[${student.stuNum}]]</td>
      <td>이름</td>
      <td><input type="text" name="stuNum" th:value="${student.name}"></td>
    </tr>
    <tr>
      <td>국어점수</td>
      <td><input type="text" name="koScore" th:value="${student.koScore}"></td>
      <td>영어점수</td>
      <td><input type="text" name="enScore" th:value="${student.enScore}"></td>
    </tr>
    <tr>
      <td>자기소개</td>
      <td><textarea name="intro">[[${student.intro}]]</textarea></td>
    </tr>
  </table>
  <input type="submit" value="뒤로갈랭?">
  <button type="submit">정보 수정</button>
</form>
</body>
</html>