<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/delivery" method="post">
  <h2>치킨!!!</h2>
  치킨 종류와 상관 없이 무조건 만원!   <br>
  <input type="radio" name="menu" value="후라이드 치킨"> 후라이드 치킨
  <input type="radio" name="menu" value="양념 치킨"> 양념 치킨
  <input type="radio" name="menu" value="간장 치킨"> 간장 치킨 <br>
  <input type="radio" name="menu" value="고추 바사삭 치킨"> 고추바사삭 치킨
  <input type="radio" name="menu" value="뿌링클 치킨"> 뿌링클 치킨
  <input type="radio" name="menu" value="매운 핫 치킨"> 매운 핫 치킨 <br>
  <input type="number" name="num">몇마리  <br>
  추가할게요(추가 시 1000원)   <br>
  <input type="checkbox" name="add" value="양념추가"> 양념 추가
  <input type="checkbox" name="add" value="머스타드 추가"> 머스타드 추가
  <input type="checkbox" name="add"value="콜라추가"> 콜라 추가  <br>
  요청사항 <textarea name="req" cols="50" rows="5"></textarea>
  <input type="submit" value="주문하러 가기">
</form>
</body>
</html>