<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 폼 대그안에있는 인풋 태그의 벨류 값을 가져간다.
   주의 사항 : 인풋 태그에는 반드시 네임 속성이 있어야한다. -->
  <form action="/ScoreController_4" method="post">
    <h2>학생 성적 입력 프로그램</h2>   <br>
    [[${name}]]  학생의 성적을 입력합니다  <br>
    <input type="hidden" name="name" value="${name}">
    <input type="hidden" name="tell" value="${tell}">
    <input type="hidden" name="gender"value="${gender}">
    <input type="hidden" name="grade" value="${grade}">
    국어  <input type="text" name="koScore">
    영어  <input type="text" name="enScore">
    수학  <input type="text" name="maScore">
    <input type="submit" value="확인">
</form>
</body>
</html>