<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/reg" method="post">
 학번 <input type="text" name="stuNum"> <br>
 이름 <input type="text" name="stuName"> <br>
 수학점수 <input type="text" name="korScore"> <br>
 영어점수 <input type="text" name="engScore"> <br>
 학생소개 <textarea name="intro"></textarea>  <br>
 <input type="submit" value="등록 완료">
</form>

</body>
</html>